body {
  margin: 0;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,118,1) 18%, rgba(0,212,255,1) 49%);
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
}

#verticalButtons{
  display:flex;
  flex-direction: column;
}

button{
  border: none;
  border-radius: 15px;
  padding: 5px 5px 7px 5px;
  margin: 2px;
  cursor: pointer;
  &:hover{
    background:rgb(11, 198, 255);
  }
}

#networkCanvas {
  background: transparent;
}


#carCanvas {
  background: rgb(60, 60, 60);
}